*{
    margin: 0%;
    padding: 0%;
}
.main{
    width: 100%;
    background-color: antiquewhite;
}
.navbar{
    width: 100%;
    height: 15vh;
    /* background-color: green; */
    border-bottom: 1px solid black;
    display: flex;
    background-color: antiquewhite;
}
.navbar1{
    width: 100%;
    height: 15vh;
    /* background-color: green; */
    border-bottom: 1px solid black;
    display: flex;
    display: none;
    background-color: antiquewhite;
}
.nav1{
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav1 h2{
    color: rgb(10, 48, 10);
}
.nav111{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav1 img{
    width: 40px;
    height: 40px;

}
.nav111 img{
    width: 40px;
    height: 40px;

}
.nav2{
    width: 40%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(10, 48, 10);
}
.nav222{
    width: 50%;
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
}
.nav3 {
    width: 30%;
    /* background-color: red; */
    display: flex;
    justify-content:center ;
    align-items: center;
   

}
.nav3 button{
    width: 120px;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(6, 46, 6);
    color: wheat;
    
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p1{
    font-size: 55px;
    font-weight: bolder;
    color: rgb(10, 48, 10);

}
.p2{
    font-size:19px;
    color: gray;
}
.p3{
    font-size: 19px;
    color: gray;
}
.btn1{
    width: 120px;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(6, 46, 6);
    color: wheat
}
/* .imgsection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
} */
.one{
    margin: auto;
    width: 80%;
    height: 380px;
   border: 7px solid rgb(209, 200, 182);
   background-image: url(./img2.jpg);
   border-radius: 14px;
   background-size:cover;
   background-position: center;
   margin-top:50px;

}

.content1{
    width:80% ;
    height: 50vh;
    /* background-color: yellow; */
    margin: auto;
    margin-top: 60px;
}
.content1 h1{
    display: flex;
    justify-content: center;
    color: rgb(10, 48, 10);

}
.sections{
    width: 100%;
    /* height:28vh ; */
    /* background-color: gold; */
    
    /* display: flex; */

}
.sectionss{
    width: 94%;
    height: 30vh;
    border-bottom: 1px solid black;
    /* background-color: red; */
    margin: auto;
     display: flex;
     margin-top: 20px;
}
.section11{
    flex:1

}
.para1{
    padding-top: 10px;
    font-size: 25px;
    color: rgb(10, 48, 10);
}
.para2{
    font-size: 20px;
    color: gray;
    padding-top: 10px;
}
.section2{
    flex: 1;
}

.section3{
    flex: 1;
}
.section11 img{
    width: 40px;
    height: 40px;
}
.section2 img{
    width: 40px;
    height: 40px;
}
.section3 img{
     width: 40px;
    height: 40px;
}

.content3{
    width: 80%;
    /* background-color: yellow; */
    margin: auto;
    display: flex ;
    gap: 10px;
    margin-bottom: 40px;
}
.part1{
    padding:60px ;
    /* margin-top: 30px; */
     flex: 1;
     /* background-color: yellow; */
}
.part1 h2{

    font-size: 40px;
    color: rgb(10, 48, 10);
}
.part1 p{
    font-size: 20px;
    color: gray;
}
.part2{
    padding: 30px;
    flex: 1.5;
    width:20px;
    height:250px;
    /* background-color: aquamarine; */
    background-image: url(./img4.jpeg);
    border-radius: 14px;
   background-size:cover;
   background-position: center;
}



.content4{
    /* margin-top: 40px; */
    width: 78%;
    height: 40vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    margin-bottom: 30px;
    border-radius: 10px;
}
.content4 h1{
    font-size: 40px;
    color: rgb(10, 48, 10);

}
.content4 p{
    padding-top: 10px;
    font-size: 20px;
    color: gray;
}

.content4 .btn2{
    margin-top: 20px;
    width: 120px;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(6, 46, 6);
    color: wheat;

}

.imgss{
    width: 80%;
    margin: auto;
}



@media screen and (max-width:768px){
    .navbar1{
    width: 100%;
    height: 15vh;
    /* background-color: green; */
    border-bottom: 1px solid black;
    display: flex;
    /* display: none; */
    background-color: antiquewhite;
}
.navbar{
    display: none;
}
    .nav111 h2{
        font-size: medium;
    }
    .content{
        padding-left: 70px;
       display: block;
       justify-content: start;
    }
    .content3{
        display: block;
        padding: 0%;
    }
    .part2{
        margin-top: 40px;
        width: 590px;
        height: 400px;
       
    }
    .part1{
        width: 90%;
        padding: 0px;
        margin-top: 250px;
    }
    .part1 h2{
        font-size: 50px;
        font-weight: bolder;
    }
    .part1 p{
        font-size: 20px;
    }
    .content1 h1{
        justify-content: start;
        font-size: 50px;
    }
    .sectionss{
        display: block;
        width: 100%;
        height: 70vh;
    }
    .para2{
        padding-top: 10px;
        font-size: 20px;
    }
    .para1{
        font-size: 30px;
        padding-top: 25px;
    }
    .section2 img{
        padding-top: 20px;
    }
    .section3 img{
        padding-top: 20px;
    }
    .one{
        width: 80%;
    }
    .content4{
        width: 85%;
        height: 50vh;
    }
    .content4 h1{
        font-size: 45px;
    }
    .content4 p{
        font-size: 23px;
    }
    .content4 .btn2{
        width: 160px;
        height: 60px;
        font-size: 18px;
    }
}

@media screen and (max-width:426px) {
     .one{
        width: 90%;
        height: 300px;
    }
    .sectionss{
        height: 85vh;
    }
    .content{
        padding-left: 20px;
    }
     .btn1{
        width: 150px;
        height: 50px;
    }
    .content4{
        display: flex;
       
        justify-content: center;
        align-items: center;

    }
    .content4 h1{
        font-size: 40px;
        text-align: center;
    }
    .content4 p{
        font-size: 20px;
        text-align: center;
    }
    .content4 .btn2{
        width: 170px;
        height: 55px;
        font-size: 18px;
    }
    .part2{
        width: 300px;
        height: 150px;
    }
    .part1 h2{
        padding-top: 80px;
        font-size: 40px;

    }
}