*{
    margin: 0%;
    padding: 0%;
}
.main{
    width: 100%;
    /* background-color: antiquewhite;
     */
}
.navbar{
    width: 100%;
    height: 15vh;
    /* background-color: green; */
    border-bottom: 1px solid black;
    display: flex;
    /* background-color: antiquewhite; */
}
.navbar1{
    width: 100%;
    height: 15vh;
    /* background-color: green; */
    border-bottom: 1px solid rgb(157, 156, 156);
    display: flex;
    display: none;
    background-color: antiquewhite;
    
}
.nav1{
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav1 h2{
    color: rgb(10, 48, 10);
    font-size: 20px;
}
.nav111{
    width:50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav1 img{
    width: 40px;
    height: 40px;

}
.nav111 img{
    width: 40px;
    height: 40px;

}
.nav2{
    width: 40%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(10, 48, 10);
   
}
.nav2 h2{
     font-size: 20px;
}
.linee{
    width: 52px;
    height: 25px;
    /* background-color: yellow; */
    border-bottom: 3px solid rgb(211, 117, 73);
}
.nav222{
    width: 50%;
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
}
.nav3 {
    width: 30%;
    /* background-color: red; */
    display: flex;
    justify-content:center ;
    align-items: center;
   

}
.nav3 button{
    width: 120px;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(6, 46, 6);
    color:white;
    font-size: 15px;
    border: none;
    
}




.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p1{
    padding-top: 60px;
    font-size: 55px;
    font-weight: bolder;
    color: rgb(10, 48, 10);
    font-family: sans-serif;

}
.p2{
    padding-top: 10px;
    font-size:19px;
    color: rgb(85, 77, 77);
}
.p3{
    padding-top: 5px;
    font-size: 19px;
    color: rgb(85, 77, 77);
}
.btn1{
    width: 150px;
    height: 45px;
    border-radius: 7px;
    background-color: rgb(3, 41, 3);
    color: white;
    font-size: 15px;
}
/* .imgsection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
} */
 .imgsection{
    width: 100%;
 }
.one{
    margin: auto;
    width: 75%;
    height: 400px;
   border: 7px solid rgb(240, 239, 235);
   background-image: url(./img2.jpg);
   border-radius: 15px;
   background-size:cover;
   background-position: center;
   margin-top:50px;

}

.content1{
    width:75%;
    height: 45vh;
    /* background-color: yellow; */
    margin: auto;
    margin-top: 60px;
    border-bottom: 1px solid gray;
}
.content1 h1{
    display: flex;
    justify-content: center;
    color: rgb(10, 48, 10);
    font-size: 40px;
    font-family: sans-serif;

}
.sections{
    margin-top: 40px;
    width: 100%;
    /* height:28vh ; */
    /* background-color: gold; */
    
    display: flex;
    

}

.section11{
    flex:1

}
.para1{
    padding-top: 20px;
    font-size: 25px;
    color: rgb(10, 48, 10);
    font-family: sans-serif;
}
.para2{
    font-size: 14px;
    color: gray;
    padding-top: 10px;
    font-family: sans-serif;
    
}
.section2{
    flex: 1;
}

.section3{
    flex: 1;
}
.section11 img{
    width: 40px;
    height: 40px;
}
.section2 img{
    width: 40px;
    height: 40px;
}
.section3 img{
     width: 40px;
    height: 40px;
}

.content3{
    /* margin-top: 30px; */
    width: 75%;
    /* background-color: yellow; */
    margin: auto;
    display: flex ;
    gap: 10px;
    
}
.part1{
   
    /* margin-top: 30px; */
     flex: 1;
     /* background-color: yellow;
      */
     display: flex;
     
}
.part11{
   
    width: 470px;
    height: 400px;
    /* background-color:red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.part11 h2{

    font-size: 40px;
    color: rgb(10, 48, 10);
    font-family: sans-serif;
}
.part11 p{
    font-size: 18px;
    color: gray;
    font-family: sans-serif;
    line-height: 1.5;
}
.part2{
    margin-top: 50px;
    flex: 1;
    width:20px;
    height:320px;
    /* background-color: aquamarine; */
    background-image: url(./img4.jpeg);
    border-radius: 14px;
   background-size:cover;
   background-position: center;
}



.content4{
    /* margin-top: 40px; */
    width: 75%;
    height: 45vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    margin-bottom: 50px;
    border-radius: 15px;
    position: relative;
    top: 30px;
}
.content4 h1{
    font-size: 40px;
    color: rgb(10, 48, 10);

}
.content4 p{
    padding-top: 10px;
    font-size: 18px;
    color: gray;
}

.content4 .btn2{
    margin-top: 20px;
    width: 140px;
    height: 45px;
    border-radius: 7px;
    background-color: rgb(6, 46, 6);
    color: wheat;

}

.imgss{
    width: 75%;
    height: 10vh;
    margin: auto;
    /* background-color: palevioletred; */
   display: flex;
   justify-content: space-between;
}
.parts img{
    width: 30px;
    height: 30px;
}
.repeatimgs{
    width: 75%;
    height: 10vh;
    margin: auto;
    /* background-color: palevioletred; */
   display: flex;
   display: none;
   justify-content: space-between;

}
.partss img{
    width: 30px;
    height: 30px;
}

@media screen and (max-width:768px){
    .navbar1{
    width: 100%;
    height: 15vh;

    border-bottom: 1px solid gray;
    display: flex;
  
}
   .navbar{
    display: none;
}
    .nav111 h2{
        font-size: medium;
        font-size: 24px;
        color: ;
        font-family: sans-serif;
    }
    .nav111 img{
        width: 80px;
        height: 80px;
    }
    .content{
        padding-left: 20px;
       display: block;
       justify-content: start;
       /* padding-left: 10px; */
    }
    .p1{
        font-size: 63px;
    }
    .p2{
        font-size: 24px;

    }
    .p3{
        font-size: 24px;
    }
    .btn1{
        width: 190px;
        height: 60px;
        font-size: 20px;
        color: white;
    }
    
    .content1{
        width: 100%;
        margin: 0%;
        position: relative;
        top: 50px;
        padding-left: 30px;
        height: 100vh;
    }
    
    .sections{
        display: block;
    }
    .content3{
        display: block;
        margin: 0%;
        width: 100%;
       
    }
    .part2{
        width: 690px;
        height: 450px;
        margin-left: 40px;
       
    }
    .part1{
        width: 90%;
        padding: 0px;
        padding-left: 40px;
        
    }
    .part11 h2{
        font-size: 50px;
        font-weight: bolder;
    }
    .part11 p{
        font-size: 20px;
    }
    .content1 h1{
        justify-content: start;
        font-size: 50px;
    }
    .sectionss{
        display: block;
        width: 100%;
        height: 70vh;
    }
    .para2{
        padding-top: 10px;
        font-size: 23px;
    }
    .para1{
        font-size: 40px;
        padding-top: 25px;
    }
    .section2 img{
        padding-top: 30px;
    }
    .section3 img{
        padding-top: 30px;
    }
    .one{
        width: 92%;
    }
    .content4{
        width: 90%;
        height: 50vh;
    }
    .content4 h1{
        font-size: 50px;
    }
    .content4 p{
        font-size: 25px;
    }
    .content4 .btn2{
        margin-top: 30px;
        width: 170px;
        height: 50px;
        font-size: 18px;
        color: white;
    }
    .imgss{
        width: 90%;
    }
}

@media screen and (max-width:426px) {
     .one{
        width: 90%;
        height: 200px;
    }
    
    .content{
        padding-left: 20px;
    }
     .btn1{
        width: 150px;
        height: 50px;
    }
    .content4{
        display: flex;
       
        justify-content: center;
        align-items: center;

    }
    .content4 h1{
        font-size: 42px;
        text-align: center;
    }
    .content4 p{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .content4 .btn2{
        width: 170px;
        height: 55px;
        font-size: 18px;
        border: none;
    }
    .repeatimgs{
    width: 75%;
    height: 10vh;
    margin: auto;
    /* background-color: palevioletred; */
    display: block;
    align-items: center;
    text-align: center;

    }
    .repeatimgs p{
        padding-top: 10px;
        font-size: 18px;
        color: gray;
    }
    .imgss{
        display: none;
    }
    .part2{
        width: 380px;
        height: 250px;
        margin: 0px;
        margin-left: 20px;
    }
    .part1{
        padding: 0%;
        padding-left: 20px;
    }
    .part11 h2{
        padding-top: 80px;
        font-size: 40px;

    }
    .part11  p{
        font-size: 18px;
        line-height: 1.5;
    }
    .nav111 h2{

        font-size: 17px;

    }
    .nav111 img{
        width: 30px;
        height: 30px;
    }
    .p1{
        font-size: 55px;
    }
    .btn1{
        width:230px ;
        height:70px ;
    }
    .content1{
        border: none;
        width: 78%;
    }
    .content1 h1{
        font-size: 40px;
    }
    .para1{
        font-size: 35px;
    }
    .para2{
        font-size: 20px;
    }
    .part11 p{
        font-size: 18px;
    }
    
} 

@media screen and (max-width:376px)
{
    
    .nav111 h2{
        font-size: 15px;
    }
    .p2{
        font-size: 19px;
    }
    .p3{
        font-size: 19px;
    }
    .para1{
        font-size: 33px;
    }
    .para2{
        font-size: 22;
    }
    .part2{
        width: 340px;
    }
    .part11{
        margin-top: 30px;
    }
}

@media screen and (max-width:321) {
    .part2{
        width: 100px;
        height:300px;
    }
    
}