*{
    margin: 0%;
    padding: 0%;
}
.main{
    width: 100%;
    /* background-color: antiquewhite;
     */
}
.navbar{
    width: 100%;
    height: 15vh;
    /* background-color: green; */
    border-bottom: 1px solid black;
    display: flex;
    /* background-color: antiquewhite; */
}
.navbar1{
    width: 100%;
    height: 15vh;
    /* background-color: green; */
    border-bottom: 1px solid rgb(157, 156, 156);
    display: flex;
    display: none;
    background-color: antiquewhite;
    
}
.nav1{
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav1 h2{
    color: rgb(10, 48, 10);
    font-size: 20px;
}
.nav111{
    width:50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav1 img{
    width: 40px;
    height: 40px;

}
.nav111 img{
    width: 40px;
    height: 40px;

}
.nav2{
    width: 40%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(10, 48, 10);
   
}
.nav2 h2{
     font-size: 20px;
}
.linee{
    width: 52px;
    height: 25px;
    /* background-color: yellow; */
    border-bottom: 3px solid rgb(211, 117, 73);
}
.nav222{
    width: 50%;
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
}
.nav3 {
    width: 30%;
    /* background-color: red; */
    display: flex;
    justify-content:center ;
    align-items: center;
   

}
.nav3 button{
    width: 160px;
    height: 50px;
    border-radius: 7px;
    background-color: rgb(6, 46, 6);
    color:white;
    font-size: 18px;
    border: none;
    
}




.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p1{
     position: relative;
    /* top:60px; */
     font-size: 70px;
    font-weight: bolder;
    color: rgb(10, 48, 10);
    font-family: sans-serif;
    padding-top: 50px;


}
.healthy-color
{
    position: absolute;
    background-color: rgba(238, 193, 201, 0.566);
    opacity: 20px;
    height: 30px;
    width: 250px;
    z-index: -1;
    left: 0px;
    top:90px;

}
.p2{
    padding-top: 10px;
    font-size:19px;
    color: rgb(85, 77, 77);
}
.p3{
    padding-top: 5px;
    font-size: 19px;
    color: rgb(85, 77, 77);
}
.btn1{
    width: 160px;
    height: 50px;
    border-radius: 7px;
    background-color: rgb(3, 41, 3);
    color: white;
    font-size: 18px;
    border: none;
}


 .imgsection{
    width: 100%;
 }
.one{
    margin: auto;
    width: 75%;
    height: 500px;
   border: 7px solid rgb(240, 239, 235);
   background-image: url(./img2.jpg);
   border-radius: 15px;
   background-size:cover;
   background-position: center;
   margin-top:50px;

}

.content1{
    width:75%;
    /* height: 45vh; */
    /* background-color: yellow; */
    margin: auto;
    margin-top: 60px;
    border-bottom: 1px solid gray;
}
.content1 h1{
    display: flex;
    justify-content: center;
    color: rgb(10, 48, 10);
    font-size: 50px;
    font-family: sans-serif;

}
.sections{
    margin-top: 40px;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding:0px  20px;
    box-sizing: border-box;
    /* background-color: red; */

}

.para1{
    padding-top: 20px;
    font-size: 30px;
    color: rgb(10, 48, 10);
    font-family: sans-serif;
}
.para2{
    font-size: 21px;
    color: gray;
    padding-top: 10px;
    font-family: sans-serif;
    text-wrap: wrap;
    
}
.section1,.section2,.section3
{
    box-sizing: border-box;
}
.section11 img{
    width: 40px;
    height: 40px;
}


.section2 img{
    width: 40px;
    height: 40px;
}
.section3 img{
     width: 40px;
    height: 40px;
}

.content3{
   
    width: 75%;
    height: auto;
    margin: auto;
    display: flex ;
    gap: 50px;
  
    
}
.part1{
     display: flex;
     width: 50%;
     height: auto;
     /* background-color: red; */
}

.part11{
   
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.part11 h2{

    font-size: 40px;
    color: rgb(10, 48, 10);
    font-family: sans-serif;

}
.part11 p{
    font-size: 22px;
    color: gray;
    font-family: sans-serif;
}


.part2
{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;
    height: 50vh;
}
.part2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content4{
    /* margin-top: 40px; */
    width: 75%;
    height: 45vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    margin-bottom: 50px;
    border-radius: 15px;
    position: relative;
    top: 30px;
}
.content4 h1{
    font-size: 50px;
    color: rgb(10, 48, 10);

}
.content4 p{
    padding-top: 15px;
    font-size: 22px;
    color: gray;
}

.content4 .btn2{
    margin-top: 20px;
    width: 160px;
    height: 50px;
    border-radius: 7px;
    background-color: rgb(6, 46, 6);
    color: wheat;
    font-size: 18px;
    border: none;

}

.imgss{
    width: 75%;
    height: 10vh;
    margin: auto;
    /* background-color: palevioletred; */
   display: flex;
   justify-content: space-between;
}
.parts img{
    width: 30px;
    height: 30px;
}
.repeatimgs{
    width: 75%;
    height: 10vh;
    margin: auto;
    /* background-color: palevioletred; */
   display: flex;
   display: none;
   justify-content: space-between;

}
.partss img{
    width: 30px;
    height: 30px;
}

@media screen and (max-width:768px){
    .navbar1{
    width: 100%;
    height: 15vh;

    border-bottom: 1px solid gray;
    display: flex;
  
}
   .navbar{
    display: none;
}
.healthy-color
{
    width: 230px;
}
    .nav111 h2{
        font-size: medium;
        font-size: 24px;
        font-family: sans-serif;
    }
    .nav111 img{
        width: 80px;
        height: 80px;
    }
    .content{
        padding-left: 20px;
       display: block;
       justify-content: start;
       /* padding-left: 10px; */
    }
    .p1{
        font-size: 63px;
    }
    .p2{
        font-size: 24px;

    }
    .p3{
        font-size: 24px;
    }
    .btn1{
        width: 190px;
        height: 60px;
        font-size: 20px;
        color: white;
    }
    .part2{
        height: auto;
        margin-left: 10px;
        width: 90%;
    }
    .content1{
        width: 100%;
        margin: 0%;
        position: relative;
        /* top: 50px; */
    }
    .content1 h1
    {       
        width: 90%;
        text-align: start;
          font-size: 40px;
          padding-left: 10px;
    }
    
    .sections{
        height: auto;
        flex-direction: column;
        /* align-items: center; */
        margin-bottom: 50px;
        
    } 
.content3{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        margin: 0%;
        width: 100%;
        padding-right: 10px;
        box-sizing: border-box;
       
    } 
   
    .part1{
        width: 90%;
        padding: 0px;
        margin: 0%;
        /* padding-left: 40px; */
        
    }
    .part11 h2{
        font-size: 50px;
        font-weight: bolder;
        padding-top: 30px;
    } 
     .part11 p{
        font-size: 20px;
    }
    .content1 h1{
        justify-content: start;
        font-size: 50px;
    }
    .sectionss{
        display: block;
        width: 100%;
        height: 70vh;
    }
    .para2{
        padding-top: 10px;
        font-size: 23px;
    }
    .para1{
        font-size: 40px;
        padding-top: 25px;
    }
    .section2 img{
        padding-top: 30px;
    }
    .section3 img{
        padding-top: 30px;
    }
    .one{
        width: 92%;
    }
    .content4{
        width: 90%;
        height: 50vh;
    }
    .content4 h1{
        font-size: 50px;
    }
    .content4 p{
        font-size: 25px;
    }
    .content4 .btn2{
        margin-top: 30px;
        width: 170px;
        height: 50px;
        font-size: 18px;
        color: white;
    }
    .imgss{
        width: 90%;
    }
    .content1 h1{
        padding-left: 20px;
    }
}

@media screen and (max-width:426px) {
     .one{
        width: 90%;
        height: 200px;
    }
    
    .content{
        padding-left: 20px;
    }
     .btn1{
        width: 150px;
        height: 50px;
    }
    .content4{
        display: flex;
       
        justify-content: center;
        align-items: center;

    }
    .content4 h1{
        font-size: 42px;
        text-align: center;
    }
    .content4 p{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .content4 .btn2{
        width: 170px;
        height: 55px;
        font-size: 18px;
        border: none;
    }
    .repeatimgs{
    width: 75%;
    height: 10vh;
    margin: auto;
    /* background-color: palevioletred; */
    display: block;
    align-items: center;
    text-align: center;

    }
    .repeatimgs p{
        padding-top: 10px;
        font-size: 18px;
        color: gray;
    }
    .imgss{
        display: none;
    }

    .part1{
        padding: 0%;
        padding-left: 20px;
    }
    .part11 h2{
        padding-top: 40px;
        font-size: 42px;

    }
    .part11  p{
        font-size: 18px;
        line-height: 1.5;
    }
    .content1 h1{
        padding-top: 30px;
    }
    
}

@media screen and (max-width:431px){
    .content4 h1{
        font-size: 35px;
    }
    .content4 p{
        /* width: 0px; */
        padding: 18px;
        text-align: center;
    }
}

@media screen and (max-width:361px){
    .content1 h1{
        font-size: 50px;
        padding-left: 15px;
    }
    
}

@media screen and (max-width:320px){

    .nav111 h2{
        font-size: 12px;
    }
    .p1{
        font-size: 30px;

    }
    .healthy-color{
         height: 20px;
    width: 110px;
    top: 65px;
    }
    .p2{
        font-size: 20px;
    }
    .p3{
        font-size: 20px;
    }
    .content1 h1{
        font-size: 35px;
        padding-top: 30px;
    }
    .para1{
        font-size: 25px;
    }
    .para2{
        font-size: 18px;
    }
    .part11 h2{
        font-size: 35px;
    }
    .part11 p{
        font-size: 16px;
    }
}


@media screen and (max-width:376px){

    .nav111 h2{
        font-size: 15px;
    }
    .p1{
        font-size: 37px;

    }
    .healthy-color{
         height: 20px;
    width: 130px;
    top: 65px;
    }
    .p2{
        font-size: 20px;
    }
    .p3{
        font-size: 20px;
    }
    .content1 h1{
        font-size: 37px;
        padding-top: 30px;
    }
    .para1{
        font-size: 25px;
    }
    .para2{
        font-size: 18px;
    }
    .part11 h2{
        font-size: 38px;
    }
    .part11 p{
        font-size: 16px;
    }
}

@media screen and (max-width:1024px){
    .sections{
        height: auto;
    }
    .part11 h2{
        padding-top: 30px;
        font-size: 38px;
    }
    .part11 p{
        font-size: 17px;
    }
}